# /etc/nsswitch.conf

group:          files   sss
hosts:          files   dns
netgroup:       files   sss
networks:       files   dns
passwd:         files   sss
services:       files   sss
shadow:         files   sss
aliases:        files
automount:      files
bootparams:     files
ethers:         files
netmasks:       files
protocols:      files
publickey:      files
rpc:            files
sudoers:        compat
