# /etc/login.defs  -  Login defaults configuration settings
# To get help with editing this file run:  man 5 login.defs

CREATE_HOME                  yes
ENCRYPT_METHOD            SHA512
GID_MAX                    60000
GID_MIN                     1000
MAIL_DIR         /var/spool/mail
PASS_MAX_DAYS              99999
PASS_MIN_DAYS                  0
PASS_MIN_LEN                   5
PASS_WARN_AGE                  7
SYS_GID_MAX                  999
SYS_GID_MIN                  201
SYS_UID_MAX                  999
SYS_UID_MIN                  201
UID_MAX                    60000
UID_MIN                     1000
UMASK                        027
USERGROUPS_ENAB              yes
