[sssd]
config_file_version = 2
services = nss,pam
domains = corp.wan

[nss]

[pam]
offline_credentials_expiration = 7

[domain/corp.wan]
access_provider = ad
ad_backup_server = _srv_
ad_domain = corp.wan
ad_enable_dns_sites = true
ad_enable_gc = true
ad_gpo_access_control = disabled
ad_maximum_machine_account_password_age = 30
ad_server = _srv_
auth_provider = ad
cache_credentials = true
case_sensitive = false
chpass_provider = ad
default_shell = /bin/bash
dns_discovery_domain = corp.wan
dyndns_refresh_interval = 129600
dyndns_ttl = 3600
dyndns_update = true
dyndns_update_ptr = True
enumerate = false
id_provider = ad
krb5_ccname_template = KEYRING:persistent:%U
krb5_lifetime = 7h
krb5_renewable_lifetime = 5d
krb5_renew_interval = 2h
ldap_group_member = member
ldap_group_name = cn
ldap_group_nesting_level = 10
ldap_group_object_class = group
ldap_group_objectsid = objectSid
ldap_group_search_base = dc=corp,dc=wan
ldap_groups_use_matching_rule_in_chain = true
ldap_id_mapping = true
ldap_idmap_default_domain = corp.wan
ldap_idmap_default_domain_sid = S-1-5-21-1760937858-1793118317-3973843321
ldap_initgroups_use_matching_rule_in_chain = true
ldap_schema = ad
ldap_search_base = DC=corp,DC=wan
ldap_use_tokengroups = true
ldap_user_ad_account_expires = accountExpires
ldap_user_ad_user_account_control = userAccountControl
ldap_user_fullname = displayName
ldap_user_home_directory = homeDirectory
ldap_user_member_of = memberOf
ldap_user_name = sAMAccountName
ldap_user_object_class = user
ldap_user_objectsid = objectSid
ldap_user_search_base = dc=corp,dc=wan
override_homedir = /nfs/homes/%u
ad_hostname = {{ inventory_hostname }}.corp.wan
ad_access_filter = DOM:corp.wan:(&(objectClass=user)(|(memberOf:1.2.840.113556.1.4.1941:=CN=Linux-Admins-Nonprod,OU=Groups,DC=corp,DC=wan)(sAMAccountName=svc-nexposeunix)))
ldap_sasl_authid = {{ inventory_hostname|upper }}$
