# Red Hat Subscription Manager Configuration File:

# Unified Entitlement Platform Configuration
[server]
hostname = jl-sat1m.corp.wan
prefix = /rhsm
port = 443
insecure = 0
ssl_verify_depth = 3

[rhsm]
baseurl= https://jl-sat1m.corp.wan/pulp/repos
ca_cert_dir = /etc/rhsm/ca/
repo_ca_cert = %(ca_cert_dir)skatello-server-ca.pem
productCertDir = /etc/pki/product
entitlementCertDir = /etc/pki/entitlement
consumerCertDir = /etc/pki/consumer

# Manage generation of yum repositories for subscribed content:
manage_repos = 1
full_refresh_on_yum = 1
report_package_profile = 1
pluginDir = /usr/share/rhsm-plugins
pluginConfDir = /etc/rhsm/pluginconf.d
auto_enable_yum_plugins = 1
inotify = 1

[rhsmcertd]
certCheckInterval = 240
autoAttachInterval = 1440
splay = 1

[logging]
default_log_level = INFO
