[cspire-content-for-redhat-7.7]
name=cspire-content-for-redhat-7.7
type=rpm-md
baseurl=https://sl-udeploy1t.corp.wan/pub/repos/cspire-content-for-redhat-7.7/
gpgkey=https://sl-udeploy1t.corp.wan/pub/repos/cspire-content-for-redhat-7.7/repodata/repomd.xml.key
gpgcheck=1
enabled=1
autorefresh=1
keeppackages=0
