[cspire-content-for-redhat-7.6]
name=cspire-content-for-redhat-7.6
type=yum
baseurl=https://{{ deploy_server }}/pub/repos/cspire-content-for-redhat-7.6/
gpgkey=https://{{ deploy_server }}/pub/repos/cspire-content-for-redhat-7.6/repodata/repomd.xml.key
gpgcheck=1
enabled=1
keeppackages=0
