# /etc/auto.master

/-              auto.direct       -rw,hard,suid,intr,noatime,rsize=1048576,wsize=1048576,proto=tcp,vers=3,nodev,nonstrict   --timeout=120

/nfs/homes      /etc/auto.home    --timeout=120

